.table{
  box-shadow: 0 0 10px rgb(rgb(179, 255, 0), rgb(5, 250, 5), blue);
  border-collapse: collapse;
  font-family: 'Quicksand', sans-serif;
  overflow: hidden;
  font-weight: bold;
}
.table thead th {
  background: #00ffd5;
  color: rgb(0, 0, 0);
}
.table td,
.table th {
  padding: 10px 20px;
}
.table tbody tr :nth-of-type(even) {
background: rgb(0, 250, 96);
}

